:root {
    --darktext: #343434;
    --lighttext: #f4f4f4;
    --lightbg: #f4f4f4;
    --bluebg: #428bca;
    --footerbg: #708090;
}

body {
    background: #f4f4f4;
    p {
        margin: 0;
        padding: 0;
    }
    color: var(--lighttext);
}

.bg-img {
    background-image: url('/images/trainers.jpg');
    background-repeat: no-repeat;
    background-size: 1170px 500px;
    height: 500px;
}

.layover {
    height: 100%;
    width: 100%;
    background-color: rgba(10, 15, 200, .3);
}

.icons {
    font-size: 25px;
}

.name {
    width: 200px;
    color: var(--lighttext);
    padding: 20px 20px;
}

.cta {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 10%;
}

.services {
    color: var(--darktext);
    text-align: center;
    padding: 35px;
    background: var(--lightbg);
    .service-row {
        padding-top: 20px;
        margin: 10px 10px;
        border: #343434 solid 1px;
        border-radius: 12px;
        background: var(--bluebg);
        box-shadow: 5px 10px 18px #000000;
        color: var(--lighttext);
        h4 {
            padding: 10px 0;
        }
        h5 {
            padding: 10px 0;
        }
        .icon {
            font-size: 40px;
        }
    }
}

.info {
    text-align: center;
    background: var(--bluebg);
    padding: 20px 12px;
    color: darken($color: var(--lighttxt), $amount: 50%);
}

.testermonial {
    text-align: center;
    background: var(--bluebg);
    padding: 30px 0;
    .fa-star {
        color: #D4AF37;
    }
    img {
        width: 150px;
        height: 150px;
        margin: auto;
        border-radius: 100px;
    }
}

.test-text {
    width: 30%;
    margin: auto;
}

.contact {
    padding: 20px 0 0 0;
    color: var(--darktext);
    text-align: center;
    form {
        width: 40%;
        margin: auto;
        p {
            font-size: 15px;
        }
    }
}

.pgbtm {
    background: var(--footerbg);
    margin-top: 20px;
}